body {
    font-family: 'Poppins', sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.profile-dropdown {
    position: absolute;
    top: 48px;
    right: 15px;
    width: 260px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    padding: 16px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.confirm-delete {
    position: fixed;
    top: 65px;
    left: 35%;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown 0.1s ease-out forwards;
}


.notify {
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: white;
    width: 350px;
    height: 60px;
}

.plus {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.notes-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.bottom-border {
    border-bottom: 2px solid black;
}

.profile-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.thick-border {
    border: 2px solid black;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-color {
    background-color: rgb(93, 24, 233);
}

.done-status {
    background-color: rgb(204, 255, 204);
    padding: 2px;
}

.progress-status {
    background-color: rgb(251, 230, 210);
    padding: 2px;
}

.not-started-status {
    background-color: rgb(243, 216, 218);
    padding: 2px;
}

/* Apply this to the container with the scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}